.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 30%;
    height: 50%;
    z-index: 1000;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eaff00;
    background: radial-gradient(circle,rgba(234, 255, 0, 1) 0%, rgba(252, 97, 0, 1) 100%);
    padding: 5px;
    box-shadow: #000 1px 1px 10px;
}

.message {
    width: 100%;
    text-align: center;
    font-size: 550%;
    height: 30%;
    
    font-weight: 400;
}

.cross{
    display: inline;
    background: transparent;
    color: red;
    align-self: end;
    height: 10%;
    font-weight: 600;
    font-size: 200%;
    cursor: pointer;
    font-style: normal;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 5px;
    padding-top: 5px;
}   

.cross:hover{
    color: darkred;
}

h3 {
    font-size: 200%;
    height: 10%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

h3 p{
    display: inline;
    text-decoration: underline;
    font-weight: 400;
    
}

h5{
    font-size: 1.5rem;
    height: 10%;
    font-weight: 400;
    text-align: center;
}

.buttonContainer{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttonContainer button{
    width: 100%;
    height: 100%;
    font-size: 300%;
    border-radius:  12px;
    cursor: pointer;
    background-color: #70af4c;
    color: white;
    box-shadow: #000 5px 5px 1px;
    
}

