# Entorno virtual
venv/

# Archivos de pruebas
prueba*.py

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de log
*.log

# Configuración del entorno
.env
*.env

# Configuración de editores
.vscode/
.idea/

# Archivos de build
build/
dist/
*.egg-info/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
