.keyboard{
    background-color: transparent;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keyboardRow{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.key{
    font-style:normal;
    width: 100%;
    font-size: 30px;
    margin: 2px;
    padding: 10px;
    border: 0px transparent;
    border-radius: 3px;
    background-color: #2C2C2C;
    color: white;
    box-shadow: #000 1px 1px 5px;
}

.right{
    background-color: #43a047;
}

.wrong{
    background-color: gray;
}

.almostRight{
    background-color: #e4a81d;
}